/*img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}*/
body {
    line-height: 1.5;
    background: #eeeeee;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #085068;
    border-color: #085068;
}

a {
    color: #085068;
}

a:hover {
    color: #023647;
}

.card {
    background: white;
    margin: 10px;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.no-padding {
    padding: 0;
}

.card-like {
    background: white;
    border-radius: 3px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.pagination>li>a, 
.pagination>li>span {
    border-top: 0;
    border-bottom: 0;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-right: 0;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-left: 0;
}

#location-request-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.progress-bar {
    background-color: #085068;
}

.restaurant-img, .medium-img {
    height: auto;
    width: 100%;
    vertical-align: middle;
}

.restaurant-img {
    margin-top: 15px;
}

.restaurant-info {
    padding: 10px;
}

.restaurant-info address {
    margin-bottom: 0;

}

.restaurant-card-container {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 600px;
    overflow-y: auto;
}

.restaurant-card-container .card-like {
    padding-top: 0px;
    margin: 0px;
}

.restaurant-cards .content,
.restaurant-cards .btn {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px!important;
    margin-right: 0px;
}

.restaurant-cards .additional-info {
    padding: 0px;
}

.restaurant-cards {
    margin: -5px;
    padding-top: 10px;
}

.restaurant-cards .btn {
    width: 100%;
}

.restaurant-cards .resmio-button {
    padding-bottom: 10px;
}

.restaurant-cards h3 a {
    padding-top: 10px;
    padding-left: 10px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.featured-restaurants h3 {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.restaurant-cards .opening-hours-time {
    white-space: nowrap;
}


.restaurant-cards .medium-img {
    padding-top: 10px;
    margin-bottom: 10px;
}


#simplemodal-container {
    box-sizing: content-box;
}

.breadcrumb>li.same-breadcrumb+li.same-breadcrumb:before {
    padding: 0 5px 0 0;
    color: #fff;
    content: "-";
}

.breadcrumb {
    font-weight: bold;
    background: inherit;
    margin-bottom: 0;
    padding-left: 0;
}

.breadcrumb a {
    color: #9CD0FD;
}

.breadcrumb .active {
    color: #fff;
}

.facility-info img {
    padding-bottom: 10px;
}

.map {
    min-height: 300px;
}

.glyphicon {
    color: gray;
    margin-right: 7px;
}

.row .row {
    margin-left: 10px;
}

p.restaurant-distance {
    font-weight: bold;
    color: gray;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

/* for in the google maps marker infos*/
a.h3 {
    font-size: 20px !important;
    font-weight: bold !important;
}

.header {
    min-height: 43px;
}

.header .nearby-button {
    font-weight: bold;
    /*background: #0B8B00;*/
    /*background: #D59C09;*/
    background: #5B9905;
    border-color: #94410A;
    color: white;
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.header .nearby-button:hover {
    background: #416B07; 
}

.header .nearby-button .glyphicon {
    color: black; 
}

.header a.logo {
    font-family: "Pacifico";
    font-size: 25px;
    padding-right: 15px;
    padding-bottom: 5px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.12);
}

.header .cebit-cooperation {
    position: relative;
}

.header .language-picker {
    position: relative;
    top: 13px;
    float: right;
}

.header #language-picker-form {
    display: inline;
}

.footer, .header {
    /*background: #eee;*/
    color: white;
    /*background: #0B528F;*/
    background: #A72006;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
}


.footer a, .header a {
    color: #bbb;
}

.footer .container {
    line-height: 1.3;
    margin-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 50px;
    padding-top: 5px;
}

.footer h3 {
    padding-left: 15px;
    font-size: 20;
}

.footer .city-description {
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer .impressum {
    padding-top: 20px;
}

.footer .glyphicon {
    color: white;
}

.footer .cebit-logo {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-left: 30px;
}

.footer .cebit-logo img {
    padding-left: 15px;
    padding-right: 15px;
}


.landing-page-links {
    margin: -5px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.landing-page-links h2 {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 15px;
}

.landing-page-info {
    margin-left: 0;
    margin-right: 0;
}

.landing-page-links div {
    padding: 0;
}

.landing-page-links .card-like {
    margin: 5px;
    text-align: center;
}

.landing-page-links img {
    width: 100%;
}

.featured-restaurants {
    margin-top: 5px;
    padding-top: 0;
}

.pagination{
    float: right;
    margin: 0;
}

.restaurant-right,
.restaurant-left {
    padding: 0;
}

.restaurant-right .restaurant-description {
    padding: 10px;
    margin: 0px;
}

.restaurant-right .resmio-button {
    padding: 0;
    padding-bottom: 10px;
    text-align: center;
}

.restaurant-left {
    padding-right: 10px;
}

.restaurant-left .widget {
    padding-left: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.resmio-button .btn-success {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    background-color: #5B9905 !important;
    background-image: none;
    border: 0;
    color: #fff !important;
    border-radius: 3px;
}

.resmio-button .btn-success:hover {
    background-color: #416B07 !important;
}

.nearby-restaurants-header {
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 1023px) {
    .header .language-picker {
        top: 0;
    }
}

@media (max-width: 767px) {
    .restaurant-right.pull-right {
        float: none!important;
    }
    .restaurant-left,
    .restaurant-right {
        padding-right: 10px;
        padding-left:10px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .restaurant-card-container {
        height: auto;
        overflow-y: visible;
    }
}