<div class="city-description">
    <h4>Die gastronomische Szene in Berlin</h4>
    <p>Die deutsche Hauptstadt Berlin bietet eine enorme gastronomische Vielfalt. Spätestens nachdem 1999 der Regierungssitz von Bonn aus zurück nach Berlin verlegt wurde und somit zahlreiche Diplomaten und Expats nachzogen, hat sich eine internationale Restaurantszene entwickelt, die deutschlandweit ihresgleichen sucht. Ergänzt wird die gebotene Spitzenküche durch typische Restaurants mit lokalen Spezialitäten in den einzelnen Kiezen.</p>

    <h4>Besondere Angebote in den Trendvierteln</h4>
    <p>Im Zuge der Gentrifizierung vieler Stadtbezirke hat sich außerdem ein "neues" Nischenangebot entwickelt, das die Bedürfnisse moderner, umweltbewusster Großstädter anspricht. Dies trifft vor allem auf den aufstrebenden Bezirk Prenzlauer Berg zu, in dem sich zahllose Restaurants mit vegetarischer und veganer Küche angesiedelt haben. Das Angebot wird zudem ergänzt durch kleinere Bars und Lounges, die sich beispielsweise auf Kaffeeprodukte, Cupcakes oder "frozen yogurt" spezialisiert haben. Durch den hohen Anteil von Gutverdienern können auch solch extreme Nischenanbieter im Stadtteil Prenzlauer Berg und den angrenzenden Bezirken wie zum Beispiel Friedrichshain überleben. Im Kontrast dazu kann es nur unweit davon entfernt wiederum ein vollständig anderes Angebot geben, das sich an die dort ansässigen Berliner angepasst hat. Diese Individualität der einzelnen Bezirke ist ein interessantes Merkmal der Berliner Gastronomieszene, das sich anschaulich am an Pankow angrenzenden Bezirk Mitte darstellen lässt. Neben der gehobenen Gastronomie im Regierungsviertel gibt es in Moabit eine sehr internationale Szene, die geprägt ist durch einfache und schnelle Küche. Hier können ohne Probleme an jedem Tag der Woche Speisen einer anderen Nation probiert werden. In der Invalidenstraße unweit des Hamburger Bahnhofs in Moabit haben auch einige bekannte Fernsehköche ihr Restaurant. </p>

    <h4>Die Gegend an den Hackeschen Höfen</h4>
    <p>Ebenfalls im Bezirk Mitte liegt der Ortsteil Spandauer Vorstadt, nicht zu verwechseln mit dem Bezirk Spandau. Hier bieten die Hackeschen Höfe eine willkommene Abwechslung zu den befahrenen Straßen der Großstadt. In den schön restaurierten Innenhöfen lässt es sich wunderbar brunchen oder frühstücken und wer keinen Platz mehr bekommt, findet mit Sicherheit im unweit entfernt gelegenen Scheunenviertel ein gutes Restaurant oder Café. Und auch abends bietet der Hackesche Markt zahllose Bars und Restaurants für ein Abendessen mit gemütlichem Ausklang.</p>

    <h4>Schöneberg, Tempelhof und Charlottenburg</h4>
    <p>Die Erfahrung der atemberaubenden Vielfalt lässt sich ohne Weiteres auf den benachbarten Bezirk Tempelhof-Schöneberg übertragen, in dem es ebenfalls nicht an renommierten Restaurants mangelt. Neben den bekannten Kaufhäusern, in denen es auch eine kulinarische Abteilung gibt, haben sich sowohl Restaurants für den Mittagstisch als auch das ausgedehnte Abendessen mit Freunden angesiedelt. Der unweit im Bezirk Charlottenburg-Wilmersdorf verlaufende KuDamm schließt nahtlos daran an.</p>

    <h4>Flanieren an der Spree</h4>
    <p>Nach einem ausgedehnten Shoppingtag kann man jedoch auch abseits der Einkaufsgegenden einkehren und entspannen. Besonders gut ist dies entlang der Spree möglich, an der sich im Sommer zahlreiche Strandbars befinden. Die besten findet man entweder in Friedrichshain oder im gegenüber gelegenen Kreuzberg. Einige Bars bieten neben guter Musik und gelassener Atmosphäre ein nicht zu unterschätzendes kulinarisches Angebot, bei dem sich die untergehende Sonne mit Blick auf die Sehenswürdigkeiten der Stadt genießen lässt. Und auch die Nacht kann man hier verbringen, wenn man in die unweit entfernten Clubs der Berliner Technoszene weiterziehen möchte. Für die winterlichen Monate bietet Kreuzberg ebenfalls ein gutes Angebot sowohl lokaler als auch internationaler Küche. </p>
	
    <h4>Tolle Biergärten am Wannsee</h4>
    <p>Für wen die Entspannung inmitten der Großstadt nicht ausreicht, der sollte sich zum wohl bekanntesten Naherholungsgebiet Berlins, dem Wannsee im Bezirk Steglitz-Zehlendorf, begeben. Entlang des Ufers gibt es einige gute Ausflugslokale, die mit zumeist großen und gut besuchten Biergärten aufwarten können.</p>
	
    <p>Als größte deutsche Stadt bietet Berlin somit für jeden Geschmack und Geldbeutel das richtige kulinarische Angebot.</p>
</div>