{% load staticfiles i18n %}
{% load pagination restaurant_info footer %}
{% load restaurant_info links %}
{% load localeurl_tags %}

<!DOCTYPE html>
<html {% block html_attributes %}{% endblock html_attributes %}>
  <head {% block headoptions %}{% endblock headoptions %}>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
      {% block title %}
      {% trans "Online Restaurant Booking | powered by resmio" %}
      {% endblock title %}
    </title>
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    {% if canonical_page %}
      <link rel="canonical" href="{{ canonical_page }}"/>
    {% endif %}
    <link rel="alternate" hreflang="en" href="{% set_language_link "en" %}" />
    <link rel="alternate" hreflang="de" href="{% set_language_link "de" %}" />
    <link href="https://plus.google.com/112476614904693193279/" rel="publisher">
    {% if pagination_meta %}
      {% prev_next_links pagination_meta pagination_base_url %}
    {% endif %}
    {% block static_top %}
      <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    {% endblock static_top %}
    {% block css %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    {% endblock css %}
    {% include 'google_analytics.html' %}
    {% endblock head %}
  </head>
  <body>
    {% if not embedded %}
    <div class="header">
      <div class="container">
        <a href="{% url 'landing_page' %}" class="logo">Restaurant-Reservierung.de</a>
        {% if cebit %}
        <br class="visible-sm visible-xs">
        <span class="cebit-cooperation">{% trans "in cooperation with <strong>Deutsche Messe</strong> for <strong>CeBIT</strong>" %}</span>
        {% elif ligna %}
        <br class="visible-sm visible-xs">
        <span class="cebit-cooperation">{% trans "in cooperation with <strong>Deutsche Messe</strong> for <strong>LIGNA</strong>" %}</span>
        {% elif hannovermesse %}
        <br class="visible-sm visible-xs">
        <span class="cebit-cooperation">{% trans "in cooperation with <strong>Deutsche Messe</strong> for <strong>Hannover Messe</strong>" %}</span>
        {% endif %}
        <div class="pull-right">
          <a href="{% url 'nearby' %}" class="btn btn-warning nearby-button">
            <span class="glyphicon glyphicon-map-marker"></span>
            {% trans "Nearby restaurants" %}
          </a>
        </div>

        <span class="language-picker">
          <strong>{{LANGUAGE_CODE}}</strong> /
          {% csrf_token %}
          {% if LANGUAGE_CODE = 'de' %}
            <a href="{% set_language_link "en" %}">en</a>
          {% else %}
            <a href="{% set_language_link "de" %}">de</a>
          {% endif %}
        </span>
        <!--{% block header %}
        {% endblock header %}-->
      </div>
    </div>
    {% endif %}
    <div class="container">
      {% block page %}{% endblock page %}
    </div>
    {% if not embedded %}
    <div class="footer">
      <div class="container">
        {% if not cebit and not hannovermesse and not ligna %}
        {{ ""|footer_city_list }}
        {% endif %}
        {% block footer %}
        {% endblock footer %}

        {% if cebit %}
          <div class="cebit-logo">
            <p>{% trans "In cooperation with:" %}</p>
            <a href="http://cebit.de">
              <img alt="cebit" src="/static/img/cebit_bw.png" />
            </a>
          </div>
        {% elif ligna %}
          <div class="cebit-logo">
            <p>{% trans "In cooperation with:" %}</p>
            <a href="http://www.ligna.de">
              <img alt="cebit" src="/static/img/ligna.png" />
            </a>
          </div>
        {% elif hannovermesse %}
          <div class="cebit-logo">
            <p>{% trans "In cooperation with:" %}</p>
            <a href="http://www.hannovermesse.de">
              <img alt="cebit" src="/static/img/hannovermesse.png" />
            </a>
          </div>
        {% endif %}
        {% if not cebit and not hannovermesse and not ligna %}
        <h4><span class="glyphicon glyphicon-cutlery"></span> Restaurant-Reservierung für Gastronomen</h4>
        Nutzen Sie das große deutsche Reservierungsportal für Restaurants und betreiben Sie effektives <a title="Online Marketing für die Gastronomie" href="https://www.resmio.de/funktionen/online-marketing/">Online Marketing für die Gastronomie</a> im Internet ganz ohne Mehraufwand mit dem positiven Nebeneffekt, dass es hilft die Auffindbarkeit in den bekannten Suchmaschinen zu verbessern. Sie können Ihren Betrieb in nur 5 Minuten auf der Restaurantplattform eintragen, indem Sie das Restaurant auf <a href="https://www.resmio.de"><strong>resmio</strong></a> für das Reservierungssystem anmelden. Der Eintrag auf Restaurant-Reservierung ist völlig kostenlos. Den resmio und Restaurant-Reservierung ist rein erfolgsbasiert für Sie als Restaurantbesitzer. Alle weiteren Informationen erhalten Sie auf der resmio Webseite oder auf den Themenseiten <a title="Reservierungsmanagement" href="https://www.resmio.de/funktionen/reservierungsmanagement/">Reservierungssystem</a> oder <a title="Gästedatenbank" href="https://www.resmio.de/funktionen/gaestedatenbank/">Gästedatenbank</a>.
        {% else %}
        <h4><span class="glyphicon glyphicon-cutlery"></span>{% trans "Restaurant service in cooperation with Deutsche Messe" %}</h4>
        <p>{% trans 'The restaurant service is an offer of <a href="https://www.resmio.com">resmio GmbH</a> in cooperation with <a href="https://messe.de">Deutsche Messe AG</a>. At the participating restaurants you can quickly and easily make table reservation in the surroundings of the trade fairgrounds in Hanover. Find the right location for a business lunch or the perfect conclusion of a long day on the fair.' %}</p>
        <p>{% trans 'Restaurants can register for the restaurant service for free on <a href="https://www.resmio.com">www.resmio.com/hannover</a>.' %}</p>
        <p>{% trans 'For questions about this resmio GmbH offer, please contact Mr. Michael Marder (Managing Director resmio GmbH) at +49 4131 5804988 or <a href="mailto:michael.marder@resmio.com">michael.marder@resmio.com</a>.' %}</p>
        {% endif %}
        <div class="impressum">
          <a href="{% url 'impressum' %}"><strong>{% trans "Imprint" %}</strong></a>
        </div>  
      </div>
    </div>
    {% endif %}
  </body>
</html>