{% extends 'base.html' %}
{% load i18n pagination footer %}

{% block title %}
{% blocktrans with city_name=city.name %}
{{category}} Restaurants in {{city_name}} - Online Booking | by resmio
{% endblocktrans %}
{% endblock title %}

{% block metadescription %}
{% blocktrans with city_name=city.name %}
Here you can discover {{ category }} restaurants in {{city_name}}. On this website you will find a big assortment of selected locations in {{city_name}}. Visit now!
{% endblocktrans %}
{% endblock metadescription %}


{% block header %}
<ol class="breadcrumb">
  <li><a href="/home">{% trans "Home" %}</a></li>
  <li><a href="/{{city_key}}">{{city.name}}</a></li>
  <li class="active">{{category}}</li>
</ol>
{% endblock header %}
{% block page %}
<div class="restaurant-list-header">
    {% pagination pagination_meta pagination_base_url %}
    <h1>Restaurants in <strong>{{city.name}}</strong>: <strong>{{category}}</strong></h1>
</div>
{% include 'restaurant_list.html' %}
{% endblock page %}

{% block footer %}
{% footer_category_list city %}
{% endblock footer %}
