{% extends 'base.html' %}
{% load i18n footer pagination %}

{% block title %}
{% blocktrans with city_name=city.name%}
Restaurants in {{city_name}} - Online Booking | by resmio
{% endblocktrans %}
{% endblock title %}

{% block metadescription %}
{% blocktrans with city_name=city.name %}
Here you can discover restaurants in {{city_name}}. On this website you will find a big assortment of selected locations in {{city_name}}. Visit now!
{% endblocktrans %}
{% endblock metadescription %}

{% block header %}
<ol class="breadcrumb">
  <li><a href="/home">{% trans "Home" %}</a></li>
  <li class="active">{{city.name}}</li>
</ol>
{% endblock header %}
{% block page %}

<div class="restaurant-list-header">
    {% pagination pagination_meta pagination_base_url %}
    <h1>Restaurants in <strong>{{city.name}}</strong></h1>
</div>
{% include 'restaurant_list.html' %}
{% endblock page %}


{% block footer %}
{% footer_category_list city %}
{% city_description city.id %}
{% endblock footer %}
