{% extends 'base.html' %}
{% load i18n %}
{% block header %}
<ol class="breadcrumb">
  <li class="same-breadcrumb"><a href="/home">{% trans "Home" %}</a></li>
  <li class="active same-breadcrumb">{% trans "Nearby restaurants" %}</li>
</ol>
{% endblock header %}
{% block page %}
<div id='location-request-container' class='card-like'>
<div id='location-supported'  class='hide'>
    <h2>{% trans "Waiting for location data from your browser" %}</h2>
    <div class="progress progress-striped active">
      <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
        <span class="sr-only">45% Complete</span>
      </div>
    </div>
    <p><i class="glyphicon glyphicon-info-sign"></i>{% trans "If nothing happens you probably have configured your browser  or smartphone to not send any location data" %}</p>
</div>
<div id='location-failed' class = 'hide'>
    <h2>{% trans "Location request failed" %}</h2>
    <div class="progress progress-striped active">
      <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
        <span class="sr-only">45% Complete</span>
      </div>
    </div>
    <p><i class="glyphicon glyphicon-warning-sign"></i>{% trans "Please enable access to location data to use this feature" %}</p>
    <a href="/home">{% trans "Back to the homepage" %}</a>
</div>
<div id='location-unsupported'>
    <h2><i class="glyphicon glyphicon-warning-sign"></i>{% trans "Sorry, your browser does not support geolocation" %}</h2>
</div>
</div>
<script>
if (navigator.geolocation) {
    var supported = document.getElementById('location-supported');
    var unsupported = document.getElementById('location-unsupported');
    var failed = document.getElementById('location-failed');
    unsupported.className = 'hide';
    supported.className = '';
    var success = function(position) {
        lon = position.coords.longitude;
        lat = position.coords.latitude;
        window.location = 'nearby?longitude=' + lon + '&latitude=' + lat;
    }
    var error = function(err) {
        unsupported.className = 'hide'
        supported.className = 'hide'
        failed.className = ''
        document.getElementById("failed-explanation").innerHTML=err.message;
    }
    navigator.geolocation.getCurrentPosition(success, error, {timeout: 10000});
}
</script>
{% endblock page %}