{% extends 'base.html' %}
{% load i18n pagination footer %}

{% block title %}
Restaurant-Reservierung.de ist ein Angebot von der resmio GmbH
{% endblock title %}

{% block header %}
<ol class="breadcrumb">
  <li><a href="/home">{% trans "Home" %}</a></li>
</ol>
{% endblock header %}

{% block page %}
<h1> Impressum </h1>
<h2>Restaurant-Reservierung.de ist ein Angebot von der <a href="https://www.resmio.com/">resmio GmbH</a></h2>
<strong>Anschrift</strong>: Sophienstr. 16 10178 Berlin<br />
<strong>Tel.</strong>: +49 030 52 66 96 96 <br />
<strong>Email</strong>: hello@resmio.com<br />
<strong>Handelsregister</strong>: Amtsgericht Charlottenburg (Berlin)<br />
<strong>HRB 157075 B</strong><br />
<strong>USt-IdNr.</strong>: DE 282437470
<h2>Haftung für Inhalte</h2>
Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs. 1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
<h2>Haftung für externe Links</h2>
Für externe Inhalte, die über weiterführende Links erreicht werden, kann keine Gewähr für die Vollständigkeit und Richtigkeit von Informationen übernommen werden. Für diese Inhalte ist ausschließlich der Anbieter der Inhalte verantwortlich. Vor dem Einrichten eines externen Links sind die Internetseiten der anderen Anbieter mit großer Sorgfalt und nach bestem Wissen und Gewissen überprüft worden. Falls von unseren auf andere Seiten mit rechtswidrigem, fehlerhaftem Inhalt verwiesen werden, teilen Sie dies bitte uns mit.
<h2>Urhe­ber­recht</h2>
Die durch die Seit­en­be­treiber er­stell­ten In­halte und Werke auf diesen Seit­en un­ter­liegen dem deutschen Urhe­ber­recht. Die Vervielfälti­gung, Bear­beitung, Ver­bre­itung und jede Art der Ver­w­er­tung außer­halb der Gren­zen des Urhe­ber­recht­es bedürfen der schriftlichen Zus­tim­mung des jew­eili­gen Au­tors bzw. Er­stellers. Down­loads und Kopi­en dieser Seite sind nur für den pri­vat­en, nicht kom­merziellen Ge­brauch ges­tat­tet. Soweit die In­halte auf dieser Seite nicht vom Be­treiber er­stellt wur­den, wer­den die Urhe­ber­rechte Drit­ter beachtet. Ins­beson­dere wer­den In­halte Drit­ter als solche gekennze­ich­net. Soll­ten Sie trotz­dem auf eine Urhe­ber­rechtsver­let­zung aufmerk­sam wer­den, bit­ten wir um einen entsprechen­den Hin­weis. Bei Bekan­ntwer­den von Rechtsver­let­zun­gen wer­den wir de­r­ar­tige In­halte umge­hend ent­fer­nen.
{% endblock page %}