{% extends 'base.html' %}
{% load i18n %}
{% load restaurant_info images links %}

{% block title %}
{% trans "Online Restaurant Booking | powered by resmio" %}
{% endblock title %}

{% block metadescription %}
{% trans "Big assortment of restaurants and selected locations in your city. Find a restaurant and book online quickly and easily" %}
{% endblock metadescription %}


{% block header %}
<ol class="breadcrumb">
  <li class="active same-breadcrumb">{% trans "Home" %}</li>
  <li class="same-breadcrumb"><a href="nearby">{% trans "Nearby restaurants" %}</a></li>
</ol>
{% endblock header %}
{% block page %}

<div class="landing-page-links row">
{% for c in cities_top %}
<div class="col-sm-6">
<div class="card-like">
    <a href="{% url 'city_list' c.city_key %}">
       <img src="{% resized_image_of c.city_key 565 %}" alt="Restaurants in {{c.name}}">
      <h2>Restaurants in <strong>{{c.name}}</strong></h2>
    </a>
</div>
</div>
{% endfor %}
</div>


<div class="card landing-page-info">
<h3>Einzigartige <strong>Restaurants</strong> in ganz Deutschland</h3>
<p>Deutschland ist weltbekannt für seine Hausmannskost und seine vielen <strong>Restaurants</strong>, Cafés, Gasthöfe und Hotels mit eigener Gastronomie. Doch mittlerweile ist die Deutsche Küche nicht nur etwas für Liebhaber von deftigem und herzhaftem Essen. Die deutsche Restaurant-Szene wächst von Jahr zu Jahr. Die Speisen werden besser zubereitet, sodass deren Qualität steigt. Heute gibt es schon zehn Restaurants in Deutschland, die mit drei Michelin-Sternen ausgezeichnet wurden. Doch die fast 80.000 Restaurantbetriebe sind natürlich nicht nur Gourmet-Restaurants von <a href="{% url 'city_list' 'kiel' %}">Kiel</a> bis <a href="{% url 'city_list' 'nurnberg' %}">Nürnberg</a>, sondern bieten italienische, französische, griechische oder japanische Köstlichkeiten. Gerade in den Großstädten <a href="{% url 'city_list' 'hamburg' %}">Hamburg</a>, <a href="{% url 'city_list' 'berlin' %}">Berlin</a> und <a href="{% url 'city_list' 'hannover' %}">Hannover</a> ist die Auswahl an Restaurants besonders groß. Aber auch in kleineren Städten wie z.B. <a href="{% url 'city_list' 'luneburg' %}">Lüneburg</a> und <a href="{% url 'city_list' 'bad-emstal' %}">Bad Emstal</a> oder auf dem Land gibt es tolle Restaurants mit einer vorzüglichen Küche. Da läuft jedem Restaurant-Kritiker das Wasser im Mund zusammen.</p>
</div>
<div class="card landing-page-info">
<h3>Mit <strong>Restaurant-Reservierung</strong> direkt an den Tisch</h3>
<p>Jeder kennt die Frage: Wo sollen wir heute essen gehen? Mit dem Portal für Online-Tischreservierungen, Restaurant-Reservierung.de, gehört dies der Vergangenheit an. Das Restaurant-Portal erfasst tolle Gastronomiebetriebe im ganzen Land. Gäste können direkt über ihr Tablet oder Smartphone nach einem Restaurant suchen - so sind Restaurant-Reservierung ein Kinderspiel! Wie das funktioniert? Einfach nach einem Restaurant in der Nähe suchen und einen Tisch reservieren. Jederzeit sind alle freien Plätze in Echtzeit einsehbar und können sofort reserviert werden. Das Warten auf Reservierungsbestätigungen hat damit endlich ein Ende. Alle Reservierungsdetails erhalten die Gäste von Speiselokalen natürlich auch per E-Mail. Mithilfe von dynamischer Preisgestaltung sorgt Restaurant-Reservierung dafür, dass Gäste richtig sparen können. Also einfach einen Tisch reservieren über Restaurant-Reservierung.de. Dies geht natürlich unterwegs, aber auch bequem vom Arbeitsplatz oder von Zuhause aus.</p>
</div>

<h2>{% trans "Featured Restaurants" %}</h2>
<div class="landing-page-links row featured-restaurants">
    {% for r in featured_restaurants %}
    <div class="col-sm-6 col-lg-4"><div class="card-like">
        <a href="{% link_to_restaurant r %}" title="{{ r.name }}">
            <img class = "medium-img" src="{% resized_image_of r 465 272 %}" alt="Restaurant">
            <h3>{{ r.name }}</h3>
        </a>
    </div></div>
    {% endfor %}
</div>

<script type="text/javascript" src="https://apis.google.com/js/platform.js">
{lang: '{{LANGUAGE_CODE}}'}
</script>
<!-- Place this tag where you want the widget to render. -->
<div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/u/0/112476614904693193279" data-rel="publisher"></div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1&appId=175707792497972";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="http://www.restaurant-reservierung.de/" data-width="350" data-height="300" data-colorscheme="light" data-layout="standard" data-action="recommend" data-show-faces="false" data-send="false"></div>

<!-- Place this tag in your head or just before your close body tag. -->

{% endblock page %}