{% extends 'base.html' %}
{% load i18n pagination %}
{% block header %}
<ol class="breadcrumb">
  <li class="same-breadcrumb"><a href="/home">{% trans "Home" %}</a></li>
  <li class="active same-breadcrumb">{% trans "Nearby restaurants" %}</li>
</ol>
{% endblock header %}
{% block page %}
<div class="restaurant-list-header">
    {% pagination pagination_meta pagination_base_url %}
    <h1>{% trans "Nearby Restaurants" %}</h1>
</div>
{% include 'restaurant_list.html' %}
{% endblock page %}
