{% load i18n restaurant_info images links pagination %}

<noscript class="col-md-12 card-like map"><div id="hiddenmap">Restaurant finden</div></noscript>
<div class="col-md-12 card-like map" id="hiddenmap"></div>

<div class="row restaurant-cards">
{% for r in restaurants %}  
<div class="col-sm-6 col-lg-4 restaurant-card-container">
  <div class="card-like">
    <h3><a href="{% link_to_restaurant r %}" title="{{ r.name }}">{{ r.name }}</a></h3>
    {% if current_position %}
      <p class="restaurant-distance">{% trans "distance" %} {{r|distance_from:current_position}}</p>
    {% endif %}
    <a href="{% link_to_restaurant r %}" title="{{ r.name }}">
      <img class = "medium-img" src="{% resized_image_of r 465 272 %}" alt="Restaurant">
    </a>
    <div class = "content">
      {% button_code r %}
      <p class="description">
        <span class="truncated">{% description r 150 %} <a href="{% link_to_restaurant r %}">{% trans "show more" %}</a></span>
      </p>
    </div>
    <div class = "content row">
      <div class = "col-xs-6 additional-info">
        <h4>{% trans "Address" %}</h4>
        <address>{{r.street}} <br/>
        {{r.zip_code}} {{r.city}}</address>
      </div>
      <div class = "col-xs-6 additional-info">
        <h4>{% trans "Opening hours" %}</h4>
        <p>{{ r|get_opening_hours }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>


<div class="text-right">
  {% pagination pagination_meta pagination_base_url %}
</div>

<script type="text/javascript" 
           src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>
// put in a separate function to avoid googlebot seeing 
// "sorry we have no imagery"
var executeMapCode = function (id) {
var mapElement = document.getElementById(id)
// Google maps code
var map;
var bounds = new google.maps.LatLngBounds();
var mapOptions = {
    mapTypeId: 'roadmap',
};
                
// Display a map on the page
map = new google.maps.Map(mapElement, mapOptions);
    
// Multiple Markers
var markers = [
{% for r in restaurants %}
    ["{{r.name|escapejs}}", {{r|latitude}}, {{r|longitude}}],
{% endfor %}
];
                    
// Info Window Content
var infoWindowContent = [
{% for r in restaurants %}
    ['<div id="content">' +
    '<a class="h3" href="/restaurant/{{r.slug}}">{{r.name|escapejs}}</a>' +
    '<p>{{r.description|escapejs}}</p>' +        '</div>'],
{% endfor %}
];
    
// Display multiple markers on a map
var infoWindow = new google.maps.InfoWindow(), marker, i;

{% if current_position %}
var position = new google.maps.LatLng({{current_position.1|stringformat:"s"}}, {{current_position.0|stringformat:"s"}});
bounds.extend(position);
var current_position_marker = new google.maps.Marker({
    position: position,
    map: map,
    title: '{% trans "You are here" %}',
    icon: '/static/img/current_position.png'
});

current_position_marker.setZIndex(100000)
google.maps.event.addListener(current_position_marker, 'click', function() {
    infoWindow.setContent('<p>{% trans "You are here" %}</p>');
    infoWindow.open(map, current_position_marker);
})
{% endif %}

// Loop through our array of markers & place each one on the map  
for( i = 0; i < markers.length; i++ ) { 
    var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
    bounds.extend(position);
    var marker = new google.maps.Marker({
        position: position,
        map: map,
        title: markers[i][0],
        icon: '/static/img/restaurant_marker.png'
    });
    
    // Allow each marker to have an info window    
    google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
            infoWindow.setContent(infoWindowContent[i][0]);
            infoWindow.open(map, marker);
        }
    })(marker, i));

    map.fitBounds(bounds);
}

var zoomChangeBoundsListener = google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
  if (this.getZoom() > 15){
      this.setZoom(15);
  }
});

setTimeout(function(){google.maps.event.removeListener(zoomChangeBoundsListener)}, 2000);

// unhide element
mapElement.style.display = "inherit"
} 

if (navigator.userAgent.toLowerCase().indexOf('googlebot') < 0) {
  executeMapCode("hiddenmap")
}  
</script>