{% extends 'base.html' %}
{% load restaurant_info footer images %}
{% load i18n links restaurant_info %}

{% block headoptions %}prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# resmioapp: http://ogp.me/ns/fb/resmioapp#"{% endblock headoptions %}

{% block head %}
{{ block.super }}
<meta property="fb:app_id"      content="390146537672266" />
<meta property="og:type"        content="resmioapp:restaurant" />
<meta property="og:url"         content="http://{{SITE_DOMAIN}}{% url 'restaurant' restaurant.slug %}" />
<meta property="og:title"       content="{{ restaurant.name }}" />
<meta property="og:description" content="{{ restaurant.description }}" />
<meta property="og:image"       content="{% resized_image_of restaurant 555 %}" />
{% endblock head %}

{% block title %}
{% blocktrans with name=restaurant.name %}
Restaurant {{name}} - Online Booking | by resmio
{% endblocktrans %}
{% endblock title %}

{% block metadescription %}
{% blocktrans with name=restaurant.name %}
Book your table in restaurant {{name}} in {{city_name}}. You will find more information about restaurant {{name}} here online.
{% endblocktrans %}
{% endblock metadescription %}


{% block header %}
<ol class="breadcrumb">
  <li><a href="/home">{% trans "Home" %}</a></li>
  <li><a href="/{{city_key}}">{{city_name}}</a></li>
    {% for category in restaurant.categories %}
      <li class="same-breadcrumb">
        <a href="/{{ city_key }}/{{ category }}">{{category}}</a>
      </li>
    {% endfor %}
</ol>
{% endblock header %}
{% block page %}


<h1 class="text-center">{{restaurant.name}}</h1>
<div class="row">
<!-- add spacing to the right --> 
<div class="col-sm-1 visible-lg pull-right"></div>
<div class="col-sm-8 col-lg-7 pull-right restaurant-right">
    <div class="card-like">
      <img class="restaurant-img" src="{% resized_image_of restaurant 555 %}" alt="Restaurant">
      <p class="restaurant-description">{% description restaurant %}</p>

      <div class="visible-xs visible-sm">
        {% button_code restaurant %}
      </div>
    </div>
    <div class="card-like map" id="map"></div>
</div>
<div class="col-sm-4 col-lg-3 col-lg-offset-1 restaurant-left">
  <div class="visible-md visible-lg widget card-like">
    {{restaurant.widgetCode|safe}}
  </div>
  <div class="restaurant-info card-like">

      <h4>{% trans "Address" %}</h4>
      <address>{{restaurant.street}} <br/>
      {{restaurant.zip_code}} {{restaurant.city}}</address>
      <a href="{% travel_url restaurant %}" target="_blank" title="{% trans "Take bus/train" %}">{% trans "Take bus/train" %}</a>
      <h4>{% trans "Opening hours" %}</h4>
      <p>{{ restaurant|get_opening_hours }}</p>

      {% if restaurant.website %}
        <span class="glyphicon glyphicon-link"></span><a href="{{ restaurant.website | external_link }}">{% trans "homepage" %}</a><br/>
      {% endif %}
      {% if restaurant.phone %}
        <span class="glyphicon glyphicon-earphone"></span>{{ restaurant.phone }}
      {% endif %}
    </div>
</div>
</div> <!-- row -->

<h2 class="nearby-restaurants-header">{% trans "Nearby Restaurants" %}</h2>
<div class="landing-page-links row featured-restaurants">
    {% for r in nearby_restaurants %}
    <div class="col-sm-6 col-lg-4"><div class="card-like">
        <p class="restaurant-distance text-right">{% trans "distance" %} {% distance_between restaurant r %}</p>
        <a href="{% link_to_restaurant r %}" title="{{ r.name }}">
            <img class = "medium-img" src="{% resized_image_of r 465 272 %}" alt="Restaurant">
            <h3>{{ r.name }}</h3>
        </a>
    </div></div>
    {% endfor %}
</div>


<script type="text/javascript" 
           src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
if (navigator.userAgent.toLowerCase().indexOf('googlebot') < 0) {
  var myLatlng = new google.maps.LatLng({{latitude}}, {{longitude}});
  var mapOptions = {
    zoom: 15,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById("map"), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title:"{{restaurant.name|escapejs}}",
      icon: '/static/img/restaurant_marker.png'
  });
}
</script> 
{% endblock page %}

{% block footer %}
{% footer_category_list city_key %}
{% endblock footer %}
